:root {
  --color-main-1: #a23aff;
  --color-main-2: #6266ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  height: 100%;
}

.topbar {
  width: 100%;
  height: 1rem;
  background: #eaedf2;
  z-index: 999;
  overflow: hidden;
}

nav {
  border-top: 0.7rem solid #eaedf2;
}

header {
  background-image: url(img/background-min.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.navbar {
  background-color: #fff;
}

.navbar-brand {
  position: relative;
  text-transform: uppercase;
  color: #0b0d19;
  font-weight: 900;
  font-size: 2.3rem;
  padding: 0.5rem;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgba(184, 175, 175, 0.884);
  position: absolute;
  top: 0.7rem;
  left: 0;
  border-radius: 50%;
}

.navbar-nav .nav-item a.nav-link {
  font-size: 0.9rem;
  color: var(--color-main-2);
  text-transform: uppercase;
  padding: 0.5rem 0.9rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .nav-item a.nav-link:hover {
  color: #fff;
  border-radius: 100px;
}

.nav-link {
  margin: 0.5rem;
}

/* .navbar-nav .nav-item:last-child a {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  border-radius: 100px;
  display: inline-block;
} */

.navbar-nav .nav-item:last-child a:hover {
  background: linear-gradient(to right bottom, #6266ff, #a23aff);
}

.header-text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-40%);
}

.header-text__title {
  text-transform: capitalize;
  font-size: 3rem;
  color: #0b0d19;
  display: inline-block;
  margin-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: "Quattrocento", serif;
  border-left: 0.3rem solid var(--color-main-2);
}

.header-text__sub-title {
  color: #6266ff;
  padding-left: 2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.header-text__link {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  border-radius: 100px;
  font-size: 1.4rem;
  padding: 0.6rem 2rem;
  font-weight: 300;
  margin-left: 1.5rem;
}

a.header-text__link {
  text-decoration: none;
}

.navbar-nav > .active > a:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .nav-item:last-child a:hover,
.navbar-nav .nav-item a.nav-link:hover,
.send:hover,
.join:hover {
  background: linear-gradient(to right bottom, #a23aff, #6266ff) !important;
  transform: scale(1.1) !important;
}

a.header-text__link:hover {
  background: linear-gradient(to right bottom, #8930d6, #3338cf);
  box-shadow: 0.1rem 0.1rem 0.6rem #3338cf;
}

section {
  padding: 6rem 0;
  height: 85vh;
  display: flex;
  align-items: center;
}

/* ############################################### */
/* SECTION ABOUT */
/* ############################################### */

#about {
  background-color: #eaedf2;
  margin: auto 0;
  vertical-align: middle;
}

.about__heading {
  text-transform: uppercase;
  color: #6c6c6d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.about__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-bottom: 2rem;
}

.about__line {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

.about__icons {
  margin: 1.5rem 0;
}

.about__title {
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #0b0d19;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about__article {
  color: #6c6c6d;
  font-size: 0.9rem;
  word-spacing: 0.3rem;
  line-height: 1.3rem;
}

.about-card {
  padding-right: 3rem;
}

/* ############################################### */
/* SECTION TEAM */
/* ############################################### */
#meet {
  height: 100%;
}

.meet__heading {
  text-transform: uppercase;
  color: #6c6c6d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.meet__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-left: 0.3rem solid var(--color-main-2);
}

.meet__heading,
.meet__sub-heading {
  padding-left: 1.5rem;
}

.meet__profile-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0b0d19;
  margin: 1rem 0 0 1.5rem;
}

.meet__profile-position {
  color: #6c6c6d;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 2rem 1.5rem;
  font-weight: 700;
}

/* ############################################### */
/* SECTION CLIENT */
/* ############################################### */

#client {
  background-color: #eaedf2;
  position: relative;
}

.boat {
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
}

.cli {
  position: relative;
}

.client__heading {
  text-transform: uppercase;
  color: #6c6c6d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
  margin-left: 0.5rem;
}

.client__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: #0b0d19;
  display: inline-block;
  margin-bottom: 4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-left: 0.3rem solid var(--color-main-2);
}

.client__heading,
.client__sub-heading {
  padding-left: 1.5rem;
}

.left {
  padding-left: 3rem;
}

.client__sub-heading {
  margin-bottom: 1rem;
}

.client__title {
  text-transform: capitalize;
  font-size: 1rem;
  color: #0b0d19;
  font-weight: 700;
  padding-top: 2rem;
}

.client__article {
  color: #6c6c6d;
  font-size: 0.9rem;
  word-spacing: 0.3rem;
  line-height: 1.3rem;
}

.client__link {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #6c6c6d;
  font-weight: 700;
}

a.client__link {
  margin-bottom: 2rem;
}

.client__link:hover {
  color: #6266ff;
  text-decoration: none;
}

/* ############################################### */
/* SECTION CONTACT*/
/* ############################################### */

#contact {
  background-image: linear-gradient(
      to right top,
      rgba(255, 255, 255, 0.952),
      rgba(255, 255, 255, 0.3)
    ),
    url(img/start.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.contact__heading {
  text-transform: uppercase;
  color: #6c6c6d;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

.contact__sub-heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  color: rgb(27, 26, 26);
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.contact__line {
  width: 20%;
  display: inline-block;
}

.contact__icons {
  margin: 1rem 0;
}

.contact__title {
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(27, 26, 26);
  font-weight: 700;
  margin-bottom: 1rem;
}

.contact__article {
  color: #6c6c6d;
  font-size: 0.9rem;
  word-spacing: 2px;
  margin-bottom: 4rem;
}

.right {
  display: flex;
}

.contact-card img {
  margin-bottom: 1rem;
}

label,
.contact__locaton-title {
  color: #0b0d19;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.contact__locaton-body {
  color: #6c6c6d;
  font-size: 0.9rem;
  word-spacing: 2px;
}

.contact__locaton-socials {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.fab {
  margin-right: 1rem;
  background-color: #aaacd1;
  padding: 0.6rem;
  border-radius: 50%;
  color: #fff;
}

.fab:hover {
  background: linear-gradient(to right bottom, #6266ff, #a23aff);
}

.form-group > input,
.form-group > textarea,
.input-group > input {
  background-color: #eaedf2;
  border: none;
  color: #6c6c6d !important;
}

.contact__mailing > input:focus,
.form-group > input:focus,
.form-group > textarea:focus,
.input-group-append > button:focus,
.input-group > input:focus {
  background-color: #eaedf2;
  box-shadow: none;
}

.send {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #050cce);
  border-radius: 100px;
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.join {
  color: #fff !important;
  background: linear-gradient(to right bottom, #a23aff, #6266ff);
  font-size: 1rem;
}

a.join {
  text-decoration: none;
}

.contact__mailing > input {
  background: none;
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 60%;
  background-color: #eaedf2;
  color: white !important;
}

.contact__mailing > input:focus {
  outline: none;
}

footer {
  padding: 6rem 0 1rem;
  background-color: #eaedf2;
  color: #6c6c6d;
  font-size: 1rem;
}

footer p {
  margin-bottom: 4rem;
}

footer h4 {
  color: #0b0d1994;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* ####################################### */
/* MEDIA QUERY */
/* ####################################### */
@media only screen and (max-width: 1400px) {
  .boat {
    display: none;
  }

  body {
    font-size: 55% !important;
  }

  section {
    height: 100%;
  }

  .navbar-nav .nav-item a {
    display: inline-block;
  }

  .client__article {
    color: #6c6c6d;
    font-size: var(--color-main-1);
    font-size: 1rem;
  }

  .header-text {
    width: 100%;
    text-align: center;
    /* margin-left: */
  }

  .header-text__title {
    border-left: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .header-text__sub-title {
    margin-bottom: 4rem;
  }

  .col-lg-6 {
    width: 100%;
  }

  .contact-card {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 50% !important;
  }

  .navbar-nav {
    background-color: #eaedf2;
    padding: 2rem;
    text-align: center;
    z-index: 9999;
    height: 100vh;
  }

  .client__sub-heading,
  .meet__sub-heading {
    border-left: none;
    /* margin-right: 0rem; */
  }

  .nav-link {
    margin: 0.1rem;
  }

  header {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(img/background-min.jpg);
  }

  .header-text {
    width: 100%;
    margin-left: 4.5rem;
  }

  .header-text__title {
    border-left: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .header-text__sub-title {
    margin-bottom: 4rem;
  }

  section {
    padding: 4rem 0.5rem;
  }

  .contact__line,
  .about__line {
    display: none;
  }

  .contact-card {
    margin-bottom: 2rem;
  }

  .contact__mailing > input {
    width: 80%;
  }

  .boat {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 40% !important ;
  }
  .container {
    width: 90%;
  }
}
